n                       ICON                    "res\\n.ico"
a                       ICON                    "res\\a.ico"
o                       ICON                    "res\\o.ico"
c_cap                   ICON                    "res\\c_cap.ico"
a_cap                   ICON                    "res\\a_cap.ico"
d_cap                   ICON                    "res\\d_cap.ico"
s_cap_bmp               BITMAP                  "res\\s_cap.bmp"
d_cap_bmp               BITMAP                  "res\\d_cap.bmp"
k_cap_bmp               BITMAP                  "res\\k_cap.bmp"

n_dark                  ICON                    "res\\n_dark.ico"
a_dark                  ICON                    "res\\a_dark.ico"
o_dark                  ICON                    "res\\o_dark.ico"
c_cap_dark              ICON                    "res\\c_cap_dark.ico"
a_cap_dark              ICON                    "res\\a_cap_dark.ico"
d_cap_dark              ICON                    "res\\d_cap_dark.ico"
s_cap_bmp_dark          BITMAP                  "res\\s_cap_dark.bmp"
d_cap_bmp_dark          BITMAP                  "res\\d_cap_dark.bmp"
k_cap_bmp_dark          BITMAP                  "res\\k_cap_dark.bmp"