<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="NCAD200x64_family" Directory="NCAD200x64">
      <Component>
        <File Source="Packages\NCAD200x64.package" />
      </Component>
      <Component>
        <File Id="SDK200x64_NCadSDK.cfg" Source="..\..\Menu\NCadSDK.cfg" />
      </Component>
      <Component>
        <File Id="SDK200x64_NCadSDK.cuix" Source="..\..\Menu\NCadSDK.cuix" />
      </Component>
      <Component>
        <File Id="SDK200x64_MenuRes.dll" Source="$(var.SamplesBinRoot)\$(var.Configuration) NCAD\MenuRes.dll" />
      </Component>
      <Component>
        <File Id="SDK200x64_hello_nsf.nsf" Source="..\..\COM\NSF\hello_nsf.nsf" />
      </Component>
      <Component>
        <File Id="SDK200x64_Tiles.lsp" Source="..\..\Lisp\Tiles\Tiles.lsp" />
      </Component>
      <Component>
        <File Id="SDK200x64_helloworld.dcl" Source="..\..\Lisp\DCL\helloworld.dcl" />
      </Component>
      <Component>
        <File Id="SDK200x64_helloworld.lsp" Source="..\..\Lisp\DCL\helloworld.lsp" />
      </Component>
      <Component>
        <File Id="SDK200x64_listdialog.dcl" Source="..\..\Lisp\DCL\listdialog.dcl" />
      </Component>
      <Component>
        <File Id="SDK200x64_listdialog.lsp" Source="..\..\Lisp\DCL\listdialog.lsp" />
      </Component>
      <Component>
        <File Id="SDK200x64_messagebox.dcl" Source="..\..\Lisp\DCL\messagebox.dcl" />
      </Component>
      <Component>
        <File Id="SDK200x64_messagebox.lsp" Source="..\..\Lisp\DCL\messagebox.lsp" />
      </Component>
      <Component>
        <File Id="SDK200x64_sindialog.dcl" Source="..\..\Lisp\DCL\sindialog.dcl" />
      </Component>
      <!-- Uncomment to build multi-target installer (you will need to build SDK100 samples)
      <Component>
        <File Id="SDK200x64_sindialog.lsp" Source="..\..\Lisp\DCL\sindialog.lsp" />
      </Component>
      <Component>
        <File Id="SDK200x64_HelloNRX.nrx" Source="$(var.SamplesBinRoot64)\$(var.Configuration) NCAD\HelloNRX.nrx" />
      </Component>
      <Component>
        <File Id="SDK200x64_CrossCircle.nrx" Source="$(var.SamplesBinRoot64)\$(var.Configuration) NCAD\CrossCircle.nrx" />
      </Component>
      <Component>
        <File Id="SDK200x64_CrossCircleUI.nrx" Source="$(var.SamplesBinRoot64)\$(var.Configuration) NCAD\CrossCircleUI.nrx" />
      </Component>
      <Component>
        <File Id="SDK200x64_CrossCircleMg.dll" Source="$(var.SamplesBinRoot64)\$(var.Configuration) NCAD\CrossCircleMg.dll" />
      </Component>
      <Component>
        <File Id="SDK200x64_CrossCircleMgdList.dll" Source="$(var.SamplesBinRoot64)\$(var.Configuration) NCAD\CrossCircleMgdList.dll" />
      </Component>
      <Component>
        <File Id="SDK200x64_HelloHost.dll" Source="$(var.SamplesBinRoot64)\$(var.Configuration) NCAD\HelloHost.dll" />
      </Component>
      <Component>
        <File Id="SDK200x64_HelloHostVB.dll" Source="$(var.SamplesBinRoot64)\$(var.Configuration) NCAD\HelloHostVB.dll" />
      </Component>
      <Component>
        <File Id="SDK200x64_SymbolsMgd.dll" Source="$(var.SamplesBinRoot64)\$(var.Configuration) MultiCAD\SymbolsMgd.dll" />
      </Component>
      <Component>
        <File Id="SDK200x64_CustomObjects.dll" Source="$(var.SamplesBinRoot64)\$(var.Configuration) MultiCAD\CustomObjects.dll" />
      </Component>
    -->
    </ComponentGroup>
  </Fragment>
</Wix>